@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter:wght@400;600;700;800;900&family=Kaushan+Script&family=Open+Sans:wght@400;500;600&family=Poppins:ital,wght@0,200;0,400;0,500;1,200&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&family=Varela+Round&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #e5e5e5;
}
main {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.container {
  background: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
.top_players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}
.player-name {
  font-size: 18px;
}
hr {
  margin-bottom: 27px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
}
.blog {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.blog .thambnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
  margin-top: 0;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.blog-author a {
  font-size: 16px;
  color: #562eff;
  text-decoration: none;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}
.course-banner img {
  width: 224px;
  height: 104px;
}
.course {
  background: #ffffff;
  padding: 13px 11px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.course-title {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 20px;
}
.course-author {
  color: #ed6b4f;
  font-size: 14.6913px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.unfilled {
  color: #aeaeae;
}
.rating {
  color: #a2a2a2;
}
.course-duration {
  background: #ffe4e8;
  border-radius: 14.6913px;
  padding: 5px;
}

/* for mobile devices */
@media screen and (max-width: 688px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    flex-direction: column;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    flex-direction: column;
    align-items: center;
  }
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .course {
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
  .course-info {
    flex-direction: column;
    gap: 5px;
  }
  .course-duration {
    padding: 0;
  }
}
@media screen (min-width: 689px) and (max-width: 992px) {
}

.container {
  width: 100%;
}
.blogs {
  padding: 10px;
}
.blog {
  flex-direction: column;
  align-items: center;
}

.player {
  justify-content: center;
}
